@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html, body {
    background: #6697e2;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-image: url("bg.jpg");
    background-size: center;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.centerr {
    text-align: center;
}

a {
    color:navy;
    text-decoration: none;
}
a:hover {
    color:navy;
    text-decoration: underline;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.homeicon {
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    border: solid 1px navy;
    border-radius: 500%;
    background: transparent;
    cursor: pointer;
}
footer {
    backdrop-filter: blur(10px);
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    background: #6697e2;
    color: white;
    /* 3px black line on top only*/
    border-top: 3px solid rgb(0, 0, 0);
    background-color: rgba(0,0,0,0.4);
}
footer>a {
    color: rgb(216, 216, 255);
}
/* navbar */  

.navbar {
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    background: #6697e2;
    color: white;
    /* 3px black line on bottom only*/
    border-bottom: 3px solid rgb(0, 0, 0);
    background-color: rgba(0,0,0,0.4);
}

.navbar-right {
    margin-left: auto;
    margin-right: 20px;
}


.navbar-right>a {
    margin-left: 20px;
    color: rgb(216, 216, 255);
    border:1px solid rgba(0, 153, 255, 0.5);
    border-radius: 5px;
    padding: 2px;
    
}

.navbar-right>a:hover {
    color: rgb(255, 255, 255);
    background: rgba(0, 153, 255, 0.5);
    scale: 1.1;
    text-decoration: none;
}