@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html, body {
    background: #6697e2;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.centerr {
    text-align: center;
}

a {
    color:navy;
    text-decoration: none;
}
a:hover {
    color:navy;
    text-decoration: underline;
}